/*
All styles that aren't handled by emotion
*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    background-color: #f5f5f5;
    margin: 0;
    overflow-x: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3 !important;
  }